html {
	box-sizing: border-box;
}

*,
* : before,
* : after {
	box-sizing: inherit;
}

.container {
	max-width: 1200px;
	margin: auto;
}

body {
	margin: 0;
	padding: 0;
	background-image: url("../img/brick_and_plaster_texture.png");
	background-size: 100%;
	font-family: 'Italiana', serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

nav {
	margin: 0 auto;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 0.5em 0.5em;
	list-style: none;
	line-height: normal;
}

nav ul li {
	background-image: url("../img/dirty_wood_texture.jpg");
	padding: 0.75em;
	margin: 0.25em;
}

nav ul li a {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
}

li:hover {
	box-shadow: 0.15em 0.15em #fdc468;
}

@media all and (min-width: 600px) {
	nav li {
		display: inline-block;
		width: calc(100% / 3);
	}
}

main {
	margin: 0.25em;
}

#content {
	background-color: #c8bda9;
	opacity: 0.65;
	padding: 0.25em;
	margin: 0.5em;
}

h1 {
	font-family: 'IM Fell English';
}

#content a {
	text-decoration: none;
	color: #000000;
	font-size: 1.25em;
}

#content a:hover {
	color: #a5825c;
}

#swatches article {
	padding: 0.75em 0.15em;
}

#primary {
	background-color: #bcb3a4;
	margin: 0.5em;
}

#secondary {
	background-color: #a5825c;
	margin: 0.5em;
}

#tirciary {
	background-color: #fdc468;
	margin: 0.5em;
}

#fourth {
	background-color: #8b8a8a;
	margin: 0.5em;
}

@media (min-width: 950px) {
	#content {
		float: left;
		margin-left: 0.5em;
		width: calc(100% / 3 * 2);
	}
	#swatches {
		float: right;
		width: calc(100% / 3 - 2em);
	}
}

#imagery {
	padding: 0.5em;
	clear: both;
}

@media (min-width: 350px) {
	#imagery img {
		float: right;
		clear: left;
		margin: 0.5em auto;
		width: 100%;
	}
}

@media (min-width: 600px) {
	#imagery img {
		float: right;
		clear: left;
		margin: 0.5em;
		width: calc(100% / 3 - 1em);
	}
}
