body {
	margin: 0;
	padding: 0;
	background-image: url("../img/brick_and_plaster_texture.png");
	background-size: 100%;
	font-family: 'Italiana', serif;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

nav {
	margin: 0 auto;
	padding: 0;
}

nav ul {
	margin: 0;
	padding: 0.5em 0.5em;
	list-style: none;
	line-height: normal;
}

nav ul li {
	background-color: #988f80;
	display: inline-block;
}

nav ul li a {
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	margin: 15px 10px;
	padding: 10px 15px;
}

li:hover {
	background-color: #fdba4e;
}

@media (min-width: 600px) nav li {
	display: inline-block;
	width: calc(100% / 2);
}

main {
	margin: 0.5em;
}

@media (min-width: 950px) main {
	float: left;
	margin: 3.5em;
	padding: 0.5em;
	width: calc(100% / 3 * 2);
}

#content {
	background-color: #c8bda9;
	padding: 5px;
}

h1 {
	font-family: 'IM Fell English';
}
@media (min-width: 950px) #swatches article {
	margin-left: 3.5em;
	width: calc(100% / 3);
}

#swatches article {
	padding: 0.5em;
}

#primary {
	background-color: #bcb3a4;
	width: 32%;
	margin: 0.5em;
}

#secondary {
	background-color: #a5825c;
	width: 32%;
	margin: 0.5em;
}

#tirciary {
	background-color: #8b8a8a;
	width: 32%;
	margin: 0.5em;
}

#imagery {
	padding: 0.5em;
}

@media (min-width: 600px) #imagery img {
	float: right;
	clear: left;
	margin-left: 3.5em;
	width: calc(100% / 3 * 2);
}
